<div class="container">
  <h2>Your Receipts</h2>
  <h3>Upload New Receipt</h3>
  <form action="upload" method="post" enctype="multipart/form-data" accept-charset="UTF-8" class='ajax-form'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" name="email" type="text" class="validate">
        <label for="email">User Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="vendor" name="vendor" type="text" class="validate">
        <label for="vendor">Vendor Name</label>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row center-align">
        <input class='btn' type="submit">
    </div>
  </form>
  <h3>Search for Document</h3>
  <div class="row search-document">
    <div class="input-field col s12">
      <input id="document-id" name="email" type="text" class="validate">
      <label for="document-id">Document ID</label>
    </div>
    <div class="input-field col s12 center-align">
      <input class='btn' id='get-document' type="submit">
    </div>
  </div>
  <table id='document'>
    <thead>
      <tr>
          <th>Document ID</th>
          <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
    </tbody>
  </table>
</div>